@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TicketMeister</h1>
    <p class="lead">TicketMeister is a ticketing system that blah blah, blah blah blah blah, blah blah.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Submit Tickets</h2>
        <p>
         Create false complaints that noone will read!
        </p>
        <p><a class="btn btn-default" href="/Tickets/Create">Create Ticket&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>Our login system is one of the simplest ones on the planet, but what can you expect when god actually puts on boxing gloves to fight you over a simple FREAKING PROJECT, THAT SHOULD ONLY TAKE A DAY IF YOU KNOW WHAT YOU'RE DOING!!!!</p>
    </div>
    <div class="col-md-4">
        <h2>Made in Visual Studio</h2>
        <p>Hope your Windows is in tip top working condidition, or you may not be looking at this considering the program that made it requires an OS that actually is perfect ya F**K-FACE!</p>
    </div>
</div>